In [56]:
import pandas as pd
df= pd.read_csv('C:/Users/admin/Downloads/meriskill_week1/day1/Order_Data_meriskill(Order_Data) (1).csv', encoding='utf-8')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25108 entries, 0 to 25107
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OrderID            25108 non-null  object
 1   Region             25108 non-null  object
 2   Country            25108 non-null  object
 3   CustID             25108 non-null  int64
 4   Customer_Name      25106 non-null  object
 5   ProductSKU         25108 non-null  object
 6   Product_Category   25108 non-null  object
 7   OrderLineItem      25108 non-null  int64
 8   OrderQuantity      25108 non-null  int64
 9   ProductCost        25108 non-null  float64
 10  ProductPrice       25108 non-null  float64
 11  OrderDate          25108 non-null  object
 12  AcquisitionSource  25108 non-null  object
 13  TransactionID      25108 non-null  object
 14  Fraud              25108 non-null  object
 15  PaymentMethod      25108 non-null  object
 16  CardType           22763 non-null  object
 17  Gender             22237 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 3.4+ MB
None
   OrderID          Region         Country  CustID    Customer_Name  \
0  SO45080       Northwest   United States   14657      JOHN THOMAS
1  SO45079       Southwest   United States   29255  KYLE WASHINGTON
2  SO45082       Australia       Australia   11455        ROSS SANZ
3  SO45081          Canada          Canada   26782       SETH LEWIS
4  SO45083  United Kingdom  United Kingdom   14947   ALEJANDRO CHEN

   ProductSKU Product_Category  OrderLineItem  OrderQuantity  ProductCost  \
0  BK-R50B-58           Plants              1              1       413.15
1  BK-R93R-48           Plants              1              1      2171.29
2  BK-M82B-44           Plants              1              1      1898.09
3  BK-R50B-44           Plants              1              1       413.15
4  BK-R93R-48           Plants              1              1      2171.29

   ProductPrice OrderDate AcquisitionSource      TransactionID  Fraud  \
0        699.10  1/1/2020        Meta-ads\r  I4127227587819694  FALSE
1       3578.27  1/1/2020      Google-ads\r  E9525730529761877  FALSE
2       3374.99  1/1/2020      Google-ads\r  Z6376643485803420  FALSE
3        699.10  1/1/2020      Google-ads\r  R8609290025411138  FALSE
4       3578.27  2/1/2020        Meta-ads\r  Y9572700698484288  FALSE

  PaymentMethod  CardType Gender
0    CREDITCARD  DISCOVER      M
1    CREDITCARD        MC      M
2    CREDITCARD      VISA      M
3    CREDITCARD      VISA      M
4    CREDITCARD      VISA      M

In [57]:
# looking for special characters
unique_acquisition_sources=df['AcquisitionSource'].unique()
print(unique_acquisition_sources)

#some of the acquisition sources have trailing charcaters eg Meta-ads\r' 'Google-ads\r' 'Yt-Campaign\r
# removing them

df['AcquisitionSource']=df['AcquisitionSource'].str.strip()
print(df['AcquisitionSource'].value_counts)

['Meta-ads\r' 'Google-ads\r' 'Yt-Campaign\r']
<bound method IndexOpsMixin.value_counts of 0          Meta-ads
1        Google-ads
2        Google-ads
3        Google-ads
4          Meta-ads
            ...
25103    Google-ads
25104    Google-ads
25105    Google-ads
25106    Google-ads
25107    Google-ads
Name: AcquisitionSource, Length: 25108, dtype: object>

In [58]:
# when cleaning the dataset in excel, I replaced the U values in the fraud column with Unkown, changing that
df['Fraud']=df['Fraud'].replace('Unkown', 'Unknown')
print(df['Fraud'].value_counts())

Fraud
FALSE      23601
TRUE        1197
Unknown      310
Name: count, dtype: int64

In [59]:
# cleanig cardtype- checking for blanks, unknown values etc
# print(df['CardType'].value_counts())
blank_card_type=df['CardType'].empty
print(blank_card_type)

False

In [60]:
# cleaning gender column
print(df['Gender'].value_counts())

df['Gender'] = df['Gender'].replace({
    'M': 'Male',
    'X': 'Others',
    'P': 'Others',
    'N': 'Others',
    'U': 'Others',
    'Y': 'Others',
    'S': 'Others'
})

df['Gender'].fillna('Others', inplace=True)

print("Cleaned 'Gender' unique values:")
print(df['Gender'].unique())

Gender
M    21906
X      161
P       65
N       62
U       34
Y        6
S        3
Name: count, dtype: int64
Cleaned 'Gender' unique values:
['Male' 'Others']

C:\Users\admin\AppData\Local\Temp\ipykernel_29076\841181677.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna('Others', inplace=True)

In [61]:

print(df['CardType'].value_counts())
print(df['PaymentMethod'].value_counts())
print(df['PaymentMethod'].unique)

CardType
VISA        13605
MC           6090
AMEX         2469
DISCOVER      560
JCB            39
Name: count, dtype: int64
PaymentMethod
CREDITCARD    22699
PAYPAL         2409
Name: count, dtype: int64
<bound method Series.unique of 0        CREDITCARD
1        CREDITCARD
2        CREDITCARD
3        CREDITCARD
4        CREDITCARD
            ...
25103    CREDITCARD
25104    CREDITCARD
25105    CREDITCARD
25106    CREDITCARD
25107    CREDITCARD
Name: PaymentMethod, Length: 25108, dtype: object>

In [62]:
# standardizing order date. Some have this format 29-01-2020, others have this format 9/1/2020
df['OrderDate']=pd.to_datetime(df['OrderDate'],errors='coerce')
print(df['OrderDate'])
df.info()

0       2020-01-01
1       2020-01-01
2       2020-01-01
3       2020-01-01
4       2020-02-01
           ...
25103          NaT
25104          NaT
25105          NaT
25106          NaT
25107          NaT
Name: OrderDate, Length: 25108, dtype: datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25108 entries, 0 to 25107
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OrderID            25108 non-null  object
 1   Region             25108 non-null  object
 2   Country            25108 non-null  object
 3   CustID             25108 non-null  int64
 4   Customer_Name      25106 non-null  object
 5   ProductSKU         25108 non-null  object
 6   Product_Category   25108 non-null  object
 7   OrderLineItem      25108 non-null  int64
 8   OrderQuantity      25108 non-null  int64
 9   ProductCost        25108 non-null  float64
 10  ProductPrice       25108 non-null  float64
 11  OrderDate          9928 non-null   datetime64[ns]
 12  AcquisitionSource  25108 non-null  object
 13  TransactionID      25108 non-null  object
 14  Fraud              25108 non-null  object
 15  PaymentMethod      25108 non-null  object
 16  CardType           22763 non-null  object
 17  Gender             25108 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(12)
memory usage: 3.4+ MB

In [63]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25108 entries, 0 to 25107
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OrderID            25108 non-null  object
 1   Region             25108 non-null  object
 2   Country            25108 non-null  object
 3   CustID             25108 non-null  int64
 4   Customer_Name      25106 non-null  object
 5   ProductSKU         25108 non-null  object
 6   Product_Category   25108 non-null  object
 7   OrderLineItem      25108 non-null  int64
 8   OrderQuantity      25108 non-null  int64
 9   ProductCost        25108 non-null  float64
 10  ProductPrice       25108 non-null  float64
 11  OrderDate          9928 non-null   datetime64[ns]
 12  AcquisitionSource  25108 non-null  object
 13  TransactionID      25108 non-null  object
 14  Fraud              25108 non-null  object
 15  PaymentMethod      25108 non-null  object
 16  CardType           22763 non-null  object
 17  Gender             25108 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(12)
memory usage: 3.4+ MB
None

In [66]:
df.to_csv('cleaned_order_data.csv', index=False)

In [67]:
are_duplicates=df.duplicated()
duplicate_rows=df[are_duplicates]
print(duplicate_rows)

Empty DataFrame
Columns: [OrderID, Region, Country, CustID, Customer_Name, ProductSKU, Product_Category, OrderLineItem, OrderQuantity, ProductCost, ProductPrice, OrderDate, AcquisitionSource, TransactionID, Fraud, PaymentMethod, CardType, Gender]
Index: []

In [68]:
# identifying the best acquisition Source by segmenting the data by acquisition source and calculating the conversion rate for each determine
# the customer acquisition cost CAC and find the source that offers the best balance of low CAC and high conversion
# rates 

performance_data = df.groupby('AcquisitionSource').agg(
    NumberOfOrders=('OrderID', 'count'), 
    TotalRevenue=('ProductPrice', 'sum')  
).reset_index() 

print(performance_data)

  AcquisitionSource  NumberOfOrders  TotalRevenue
0        Google-ads           20003    9809863.01
1          Meta-ads            2554    1249412.22
2       Yt-Campaign            2551    1156904.45

In [69]:
performance_data['AverageOrderValue'] = performance_data['TotalRevenue'] / performance_data['NumberOfOrders']


performance_data = performance_data.sort_values(by='NumberOfOrders', ascending=False)
print(performance_data)

  AcquisitionSource  NumberOfOrders  TotalRevenue  AverageOrderValue
0        Google-ads           20003    9809863.01         490.419588
1          Meta-ads            2554    1249412.22         489.198207
2       Yt-Campaign            2551    1156904.45         453.510172